@import url("http://fonts.googleapis.com/css?family=Open+Sans");
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/ui.scss */
.big-green-button, form.form-signup-home input[type='submit'] {
  font-family: Helvetica, Arial, sans-serif;
  background: #60b044;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6dbc52), color-stop(100%, #509339));
  background: -webkit-linear-gradient(#6dbc52, #509339);
  background: -moz-linear-gradient(#6dbc52, #509339);
  background: -o-linear-gradient(#6dbc52, #509339);
  background: linear-gradient(#6dbc52, #509339);
  color: #fefefe;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px #bae0ad inset, 0px 0px 15px rgba(0, 0, 0, 0.05) inset;
  border: 1px solid #386628;
  cursor: pointer;
  font-weight: lighter;
}
/* line 12, ../sass/ui.scss */
.big-green-button:active, form.form-signup-home input[type='submit']:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #569e3d), color-stop(100%, #6dbc52));
  background: -webkit-linear-gradient(#569e3d, #6dbc52);
  background: -moz-linear-gradient(#569e3d, #6dbc52);
  background: -o-linear-gradient(#569e3d, #6dbc52);
  background: linear-gradient(#569e3d, #6dbc52);
}

/* line 1, ../sass/navigation.scss */
nav {
  position: static;
  padding: 25px;
  width: 100%;
  font-size: 25pt;
}
/* line 11, ../sass/navigation.scss */
nav header h1 {
  position: absolute;
  left: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 25pt;
  display: block;
  margin: 0 25px;
  width: 100%;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
}
/* line 24, ../sass/navigation.scss */
nav header .header-actions {
  position: absolute;
  right: 0;
  width: 5em;
}
/* line 30, ../sass/navigation.scss */
nav header .header-actions a.big-green-button {
  font-size: 12pt;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.75em 1em;
}

/* line 1, ../sass/footer.scss */
footer {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0 5px;
  font-size: 10pt;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 1em;
}
/* line 11, ../sass/footer.scss */
footer p {
  padding: 0.25em;
}
/* line 13, ../sass/footer.scss */
footer a {
  color: inherit;
}
/* line 16, ../sass/footer.scss */
footer a img.ilos {
  height: 3em;
  -webkit-filter: grayscale(1) contrast(0) brightness(0);
  opacity: 0.5;
  margin-bottom: 20px;
}

/* line 3, ../sass/signup-home.scss */
section.signup-home .container {
  position: relative;
  margin: 50px auto;
  background: rgba(254, 254, 254, 0.2);
  width: 325px;
  padding: 15px 25px 25px 25px;
  box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(255, 255, 255, 0.25) inset;
}
/* line 12, ../sass/signup-home.scss */
section.signup-home header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 36pt;
  display: block;
  margin: 15px auto 40px auto;
  width: 100%;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
}

/* line 26, ../sass/signup-home.scss */
form.form-signup-home {
  position: relative;
  margin: 0 auto;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
/* line 33, ../sass/signup-home.scss */
form.form-signup-home p {
  margin: -10px 0 0 0;
  padding: 0 5px;
  font-size: 10pt;
}
/* line 39, ../sass/signup-home.scss */
form.form-signup-home input {
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  padding: 0.75em;
  font-size: 12pt;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
}
/* line 51, ../sass/signup-home.scss */
form.form-signup-home input[type='text'], form.form-signup-home input[type='password'] {
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
}
/* line 56, ../sass/signup-home.scss */
form.form-signup-home input[type='text']::-webkit-input-placeholder, form.form-signup-home input[type='password']::-webkit-input-placeholder {
  color: inherit;
}
/* line 57, ../sass/signup-home.scss */
form.form-signup-home input[type='text']:-moz-placeholder, form.form-signup-home input[type='password']:-moz-placeholder {
  color: inherit;
}
/* line 58, ../sass/signup-home.scss */
form.form-signup-home input[type='text']::-moz-placeholder, form.form-signup-home input[type='password']::-moz-placeholder {
  color: inherit;
}
/* line 59, ../sass/signup-home.scss */
form.form-signup-home input[type='text']::-ms-input-placeholder, form.form-signup-home input[type='password']::-ms-input-placeholder {
  color: inherit;
}
/* line 63, ../sass/signup-home.scss */
form.form-signup-home input[type='submit'] {
  margin-top: 25px;
}

/* line 14, ../sass/screen.scss */
html {
  background: -webkit-linear-gradient(-45deg, #84258a, #da1764);
  background: -moz-linear-gradient(-45deg, #84258a, #da1764);
  background: -o-linear-gradient(-45deg, #84258a, #da1764);
  background: linear-gradient(-45deg, #84258a, #da1764);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 57, ../sass/screen.scss */
#code-edit .CodeMirror {
  box-shadow: none;
}
