- # 
- #
- # Dashboard page
- #
- #

- title = "edit.codes"

!!! 5
%html
	%head
		%link{ :rel => "stylesheet", :media => "screen, projection", :type => "text/css", :href => "../css/stylesheets/dash.css"}
		/%script{ :type => 'text/javascript', :src => '../jquery.min.js' }

		%title #{title}
	%body

		%div.blue-panel

		- # navigation bar
		%nav
			%header
				%h1 #{title}
				%div{ :class => 'header-actions'}
					%ul
						%li 
							%a{ :href => '', :class => 'big-green-button' } Sign in

		- # signup form
		%section.dash-home.layout-box
			%div.user-profile 
				%h1 hi {{username}} 
				%h2 this is your dashboard 


			/ %div.docs-list
			/ 	%header.docs-header-row
			/ 	%ul.the-docs
			/ 		%li
			/ 		%li
			/ 		%li
			/ 		%li
			/ 		%li
				
		- # footer area
		%footer.dash-footer
			%div.links
			
				-# Codio's ILOS button
				%a{ :href => "http://www.iloveopensource.io/projects/537107f587659fce66002807" }
					%img{ :class => 'ilos', :src => "https://github.com/codio/iloveopensource/blob/master/public/images/logo-lightbg.png?raw=true" }
			%cite
				%p Edit.Codes 0.0.1 &bull; Created by Jon Brennecke 
				%p 
					Code distributed under the 
					<a target="_blank" href="http://opensource.org/licenses/mit-license.html">MIT License</a> &bull; 
					<a target="_blank" href="https://github.com/jonbrennecke/edit.codes">Fork the repository on Github</a>
				%p Copyright © 2014 Jon Brennecke.
								