- title = "octave.io"

!!! 5
%html
	%head

		- # %script{ :type => 'text/javascript', :src => '../require.js' }

		- # compass stuffs
		%link{ :rel => "stylesheet", :media => "screen, projection", :type => "text/css", :href => "../css/stylesheets/screen.css" }
		/[if IE]
			%link{ :rel => "stylesheet", :media => "screen, projection", :type => "text/css", :href => "../css/stylesheets/ie.css" }
		%link{ :rel => "stylesheet", :media => "print", :type => "text/css", :href => "../css/stylesheets/print.css" }


		- # CodeMirror
		%script{ :type => 'text/javascript', :src => '../codemirror/lib/codemirror.js' }
		%script{ :type => 'text/javascript', :src => '../codemirror/mode/octave/octave.js' }
		%script{ :type => 'text/javascript', :src => '../codemirror/addon/search/searchcursor.js' }
		%script{ :type => 'text/javascript', :src => '../codemirror/keymap/sublime.js' }
		%script{ :type => 'text/javascript', :src => '../codemirror/addon/comment/comment.js' }

		%link{ :rel => 'stylesheet', :type => 'text/css', :href => '../codemirror/lib/codemirror.css' }
		%link{ :rel => 'stylesheet', :type => 'text/css', :href => '../codemirror/theme/monokai.css' }


		%script{ :type => 'text/javascript', :src => '../jquery.min.js' }
		%script{ :type => 'text/javascript', :src => '../index.js' }

		%title #{title}
	%body
		%header
			%h1 #{title}
			%navigation
		%div#page-wrap
			%div{ :id => 'panels' }
				%div{ :id => 'code-edit', :class => 'panel' }
				%div{ :id => 'code-output', :class => 'panel' }
			%input{ :id => 'run', :type => 'button', :value => 'run' }
