doctype html
html(lang="en")
	head
		style( type="text/css" ) .gravatar { background: url(#{user.gravatar}); }
		link( rel="stylesheet" media="screen, projection" type="text/css" href="../scripts/bower_components/CodeMirror/lib/codemirror.css" )
		link( rel="stylesheet" media="screen, projection" type="text/css" href="../scripts/bower_components/CodeMirror/theme/monokai.css" )
		link( rel="stylesheet" media="screen, projection" type="text/css" href="../css/stylesheets/main.css" )
		script( type="text/javascript" data-main="../scripts/main" src="../scripts/require.js" )

		title edit.codes

	body.ide-page

		//- citation information in a dropdown
		section.layout.credits

			div.tabs#title-tab edit.codes
				div.corner.before
				div.corner.after

			div.half.links
				//- Codio's "I Love Open Source" button
				//- a.icon.ilos( target="_blank" href="http://www.iloveopensource.io/projects/537107f587659fce66002807" style="background: url(https://github.com/codio/iloveopensource/blob/master/public/images/logo-lightbg.png?raw=true) no-repeat; background-size: contain;" )
				//- a.icon.fa.fa-github( target="_blank" href="https://github.com/jonbrennecke/edit.codes" )

			div.half.cite
				p Edit.Codes 0.0.1 &bull; Created by Jon Brennecke 
				p Code distributed under the 
					<a target="_blank" href="http://opensource.org/licenses/mit-license.html">MIT License</a> &bull; 
					<a target="_blank" href="https://github.com/jonbrennecke/edit.codes">Fork the repository on Github</a>
				p Copyright © 2014 Jon Brennecke.


		div.layout.left-nav-bar-wrap
			nav.left-nav-bar
				div.icon-wrap
					img.icon
				ul
					li
						a.fa.fa-refresh#run( alt="Run" )
					li
						a.fa.fa-folder-o#files( alt="File Manager" )
					li
						a.fa.fa-cogs#settings( alt="Settings" )


		div.layout.page-wrap

			//- top navigation bar
			nav.top-nav-bar
				header.flat
					div.header-actions
						ul.user-menu
							li.user

								//- gravatar image
								div.profile-img-wrap
									div.profile-img.gravatar

								h1.username #{user.name}

							li.signin
								a.fa.fa-sort-down

				section.menu

					//- left/right tab navigation buttons
					div.tab-nav-buttons
						span.fa.fa-arrow-left
						span.fa.fa-arrow-right

					ul.tabs#code-mirror-tabs
						li.active tab 1
							div.corner.before
							div.corner.after
						li tab 2
							div.corner.before
							div.corner.after
						li 
							span.fa.fa-plus
							div.corner.before
							div.corner.after
						
			section.ide
				div.code#code-mirror
					div.actions
						a.fa.fa-navicon
						a.fa.fa-arrows-alt
				div.code#console
					div.actions
						a.fa.fa-navicon
						a.fa.fa-arrows-alt

				nav.bottom-nav-bar
					ul
						li.social-links 
							a.fa.fa-facebook
							a.fa.fa-twitter
							a.fa.fa-google-plus
