doctype html
html(lang="en")
	head
		link( rel="stylesheet" media="screen, projection" type="text/css" href="../css/stylesheets/home.css" )
		//- script( type="text/javascript" data-main="../scripts/home" src="../scripts/require.js" )

		title edit.codes

	body.ide-page

		//- citation information in a dropdown
		section.layout.credits

			div.tabs#title-tab edit.codes
				div.corner.before
				div.corner.after

			div.half.cite
				p Edit.Codes 0.0.1 &bull; Created by Jon Brennecke 
				p Code distributed under the 
					<a target="_blank" href="http://opensource.org/licenses/mit-license.html">MIT License</a> &bull; 
					<a target="_blank" href="https://github.com/jonbrennecke/edit.codes">Fork the repository on Github</a>
				p Copyright © 2014 Jon Brennecke.


		section.layout.page-wrap
			header.title-sequence
				div.tabs . . .
					div.corner.before
					div.corner.after
				p.title-ascii
					┌─┐┌┬┐┬┌┬┐ ┌─┐┌─┐┌┬┐┌─┐┌─┐
					├┤  │││ │  │  │ │ ││├┤ └─┐
					└─┘─┴┘┴ ┴  └─┘└─┘─┴┘└─┘└─┘
				p.subtitle python in the cloud
				p.subsubtitle [coming soon]

			div.clouds
				div.cloud1
					div.cloudyness
				div.cloud2
					div.cloudyness




			
