				

				//- form#file-menu
				//- 	ul
				//- 		li.file
				//- 			input( type="text" name="file" placeholder="script.py" )
				//- 		li.lang
				//- 			select.dropdown
				//- 				option Python 2.7
				//- 				option Python 3.0
				//- 				option Octave
				//- 		li.indent-mode
				//- 			select.dropdown
				//- 				option tabs
				//- 				option spaces
				//- 		li.indent-size
				//- 			select.dropdown
				//- 				option 2
				//- 				option 4
				//- 				option 8 
				//- 		li.new
				//- 			a.button 
				//- 				span.fa.fa-file
				//- 				span.value New
				//- 		li.save
				//- 			a.button 
				//- 				span.fa.fa-cloud
				//- 				span.value Save
				//- 		li.fork
				//- 			a.button 
				//- 				span.fa.fa-code-fork
				//- 				span.value Fork
				//- 		li.run
				//- 			a.button 
				//- 				span.fa.fa-play
				//- 				span.value Run

						//- footer.dash-footer
		//- 	div.links
		//- 		//- Codio's ILOS button
		//- 		a( href="http://www.iloveopensource.io/projects/537107f587659fce66002807" )
		//- 			img( class='ilos' src="https://github.com/codio/iloveopensource/blob/master/public/images/logo-lightbg.png?raw=true" )
		//- 	cite
		//- 		p Edit.Codes 0.0.1 &bull; Created by Jon Brennecke 
		//- 		p 
		//- 			Code distributed under the 
		//- 			<a target="_blank" href="http://opensource.org/licenses/mit-license.html">MIT License</a> &bull; 
		//- 			<a target="_blank" href="https://github.com/jonbrennecke/edit.codes">Fork the repository on Github</a>
		//- 		p Copyright © 2014 Jon Brennecke.