@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,400")
@import "compass/reset"
@import "compass/css3/images"
@import "../font-awesome/scss/font-awesome"
@import "const"
@import "functions"
@import "colors"

html
	height: 100%
	width: 100%
	background: $theme-bg

body
	position: relative
	height: 100%

.ubuntu
	font-family: "Ubuntu", Helvetica, Arial, sans-serif

.ascii-art
	color: $monokai-yellow
	white-space: pre-wrap
	font-family: monospace
	font-size: 18pt
	text-align: center
	text-shadow: 2px 2px 0px darken($monokai-yellow,40%)