// theme colors!


// monokai color scheme
$monokai-bg: #272822;
$monokai-red: #f9276b;
$monokai-white: #f8f8f2;
$monokai-blue: #54ceef;
$monokai-green: #a6e22d;
$monokai-yellow: #e6db74;
$monokai-purple: #ae81ff;
$monokai-orange: #fd8c20;

$theme-bg: desaturate($monokai-blue,60%);

// social media colors
$facebook: #3b5998;
$twitter: #00acee;
$google-plus: #d34836;