.credits
	position: relative
	top: -95px
	height: 100px
	background: darken($theme-bg, 10%)
	@extend .ubuntu
	font-size: 10.5pt
	color: rgba(#000,0.5)
	width: 100%
	text-align: center
	margin-bottom: -100px
	z-index: 3

	a
		text-decoration: none

	p
		padding: 0.25em

	.half
		box-sizing: border-box
		position: relative
		float: left
		width: 50%
		height: 100%

	.cite
		text-align: right
		padding-right: 50px
		padding-top: 15px

		a
			color: rgba(#000,0.7)
			border-bottom: 1px dotted rgba(#000,0.7)

	.links
		.icon
			position: relative
			margin: 25px 0px 25px 50px
			float: left
			font-size: 50px
			color: #000
			height: 1em
			display: block
			-webkit-filter: grayscale(1) contrast(0) brightness(0)
			opacity: 0.5
			pointer: cursor

			&.ilos
				width: 3em


#title-tab
	position: absolute
	cursor: pointer
	right: $height * 2 + 10px
	@extend .ubuntu
	background: darken($theme-bg, 10%)
	bottom: -50px
	padding: 0.5em 1em
	font-size: 25px

	@include tab( 50px, darken($theme-bg, 10%), $theme-bg, true )


.header-actions
	position: absolute
	bottom: -$height + 5px
	right: 0
	height: $height
	font-size: $height * 0.25
	padding: 0.5em
	box-sizing: border-box

	li
		position: relative
		float: left

	a.fa-sort-down
		font-size: 15px
		padding-top: 1.25em

	.user
		position: absolute
		z-index: 15
		right: 10px

		#profile-img-wrap
			position: relative
			float: left
			height: $height * 0.75
			width: $height * 0.75
			padding: 2px
			box-sizing: border-box
			border-radius: 50%
			font-size: $height * 0.75


			.profile-img
				position: absolute
				z-index: 11
				left: 0
				top: 0
				height: 100%
				width: 100%
				background-size: 100% auto
				border-radius: inherit
				cursor: pointer

				&.hover:not( .dropped )
					background: none

				&.dropped
					height: 80%
					width: 80%
					margin: 5% 10% 10% 10%

		#profile-drop-down
			$drop-down-bg: darken($monokai-white, 15%)
			
			position: absolute
			display: none
			background: $drop-down-bg
			height: $height * 2
			width: $height * 4
			right: 0
			top: 100%
			border-radius: 15px
			border-top-right-radius: 0
			z-index: 10

			.top-circle-tab
				position: absolute
				bottom: 100%
				right: 0
				@include tab( $height*0.75, $drop-down-bg, $theme-bg )
				background: $drop-down-bg
				width: $height * 0.75

			.icons
				a
					color: $monokai-bg
					font-size: $height * 0.5
					margin: 0.5em 0 0 0.75em
					cursor: pointer
					text-decoration: none

				span
					display: none
