section.menu {

	position: absolute;
	bottom: 0;
	left: 0;

	$menu-height: ($height - 15px);
	$menu-bg-color: $monokai-white;

	font-size: ($menu-height*0.5);
	height: $menu-height;
	width: 100%;
	@include box-sizing( border-box );

	.tab-nav-buttons {
		position: relative;
		float: left;
		font-size: 15px;
		margin-right: 1em;
		margin-top: $menu-height - 30px;
		color: $monokai-bg;

		span { padding: 0.5em; }
	}

	li {
		display: inline-block;
		@extend .ubuntu;
	}

	.tabs {

		li {

			// make sure $tab-height is an even number
			// if it's not, we'll be one pixel off when we divide the height by 2
			$tab-height: $menu-height * 0.5;
			$tab-height: if( $tab-height % 2 == 0, $tab-height, $tab-height + 1 );

			position: relative;
			margin: ($menu-height - $tab-height) 1em 0 1em;
			padding: 0.5em 1em;
			font-size: $tab-height * 0.5;
			height: $tab-height;
			text-align: center;
			box-sizing: border-box;
			color: $monokai-white;
			border-top-right-radius: $tab-height / 1.5;
			border-top-left-radius: $tab-height / 1.5;

			// non-active tabs bg
			background: lighten($monokai-bg,10%);

			&.active {
				background: $monokai-bg;

				.before::before, .after::before { background: $monokai-bg; }
			}

			div.corner {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;

				&::after {
					content: '';
					position: absolute;
					background: $menu-bg-color;
					height: $tab-height;
					width: $tab-height;
					border-radius: 50%;
				}

				&::before {
					content: '';
					position: absolute;
					height: $tab-height / 2;
					width: $tab-height / 2;
					background: lighten($monokai-bg,10%);
				}

				&.before {
					&::before {
						left: 100%;
						bottom: 0;
					}
					&::after { left: 100%; }
				}

				&.after {
					&::before {
						right: 100%;
						bottom: 0;
					}
					&::after { right: 100%; }
				}
			}
		}
	}
}

section.ide {
	position: relative;
	width: 100%;
	height: calc(100% - (75px * 1.5 + 10px) );
	padding: 0 5px;

	.actions {
		position: absolute;
		width: 1em;
		font-size: 25px;
		z-index: 5;
		right: 25px;
		color: $monokai-white;
		
		.fa { margin-bottom: 0.5em; }
	}

	.code {
		position: relative;
		width: calc(50% - 7.5px);
		height: 100%;
		float: left;
		background: $monokai-bg;
		box-sizing: border-box;
		padding: 25px;
		font-size: 11pt;
		border-radius: 15px;
	}

	#code-edit {
		.Code-Mirror {
			@extend .ubuntu;
		}
		margin-right: 5px;
	}

}